.App {
  text-align: center;
  background-color: #e6e6e6;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .App {
    font-size: 20px;
  }
  button {
    max-width: 150px;
    padding: 10px 10px;
  }
  #final-roll {
    padding: 10px;
  }
  #dice-buttons {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    width: 100vw;
    justify-content: center;
  }
}

.App-header {
  background-color: #2b4906;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #654519;
  color: white;
  font-size: inherit;
  width: 250px;
  padding: 15px 32px;
  margin: 4px 25px;
  text-align: center;
  border-radius: 10px;
}

button:hover {
  background: radial-gradient(circle, #ab611c, #654519);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

#description {
  display: flex-inline;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

#description-image {
  max-width: 250px;
  width: 100%;
  border: 5px solid #2b4906;
  border-radius: 10px;
}
.focus-word {
  color: #5f1c8a;
}

.dice-count-form {
  display: inline-block;
  background-color: #cb7626;
  padding: 15px;
  border-radius: 10px;
  /* font-weight: bold; */
  margin: 20px;
}

.dice-input {
  padding: 10px;
  font-size: inherit;
  width: 100%;
  box-sizing: border-box;
}

.roll-result {
  display: block;
  justify-content: center;
  padding: 50px;
  align-items: center;
}

#final-roll {
  display: block;
  padding: 50px;
  font-size: 2rem;
  font-weight: bold;
  box-sizing: border-box;
}

.throws-list {
  list-style-type: "\1F3B2";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.throw-number {
  margin-right: 20px;
}

.throw-result {
  margin-left: 20px;
}
