.App {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#rollButton {
  background-color: orangered;
  color: white;
  font-size: 25px;
  width: 250px;
  padding: 15px 32px;
  margin: 4px 25px;
  text-align: center;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-count-form {
  display: inline-block;
}

.dice-input {
  padding: 10px;
  margin-left: 20px;
  font-size: 25px;
}

.roll-result {
  display: block;
  justify-content: center;
  font-size: 25px;
  padding: 50px;
  align-items: center;
}

#final-roll {
  display: block;
  padding: 50px;
  font-size: 2rem;
  font-weight: bold;
  box-sizing: border-box;
}

.throws-list {
  list-style-type: none;
}

.throw-num {
  margin-right: 20px;
}
